<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981273248425-g1j77t2vs1s6k90bf443m5hf43inc73b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981273248425-g1j77t2vs1s6k90bf443m5hf43inc73b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>981273248425-u0k0rh3f33mcip7mkmdt5lmh90b8fi00.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-vc80d_MfZv9vZzTIaqj9ngMMibMBrQI</string>
	<key>GCM_SENDER_ID</key>
	<string>981273248425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.laudoEz</string>
	<key>PROJECT_ID</key>
	<string>laudo-ez</string>
	<key>STORAGE_BUCKET</key>
	<string>laudo-ez.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981273248425:ios:8ae56f028b6ab619945fb8</string>
</dict>
</plist>